		<footer class="bg-dark bottomFooter justify-content-center">

		<div class="container">
			<br />
			<h3 class="ourPubText">Our Publishers</h3>
			<div class="row">
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_car_and_driver.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_road_and_track.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:70px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_nadaguides.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:40px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autobytel.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_carbuzz.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autoweek.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autolist.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:70px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_usnews.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_jdpower.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_vehicle_history.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_left_lane_news.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:70px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_iseecars.png"/>
				</div>
				<div  class="pubLogo">
					<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_carpages.png"/>
				</div>

			</div>
		</div>
		</footer>
		<footer class="bg-secondary bottomestFooter text-center">
				<span class="copyrightText">Copyright © 2001 – 2019 Jumpstart Automotive Media. All rights reserved.</span>
		</footer>
	</body>
</html>
