		<footer class="bg-dark bottomFooter justify-content-center">
			<div class="container">
				<h3 class="ourPubText">Our Publishers</h3>
				<div class="row">
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_caranddriver.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_roadandtrack.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:70px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_nadaguides.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:40px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autobytel.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_carbuzz.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autoweek.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autolist.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:70px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_usnewsbestcars.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_jdpower.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_vehiclehistory.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:25px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_leftlanenews.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:70px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_iseecars.png"/>
					</div>
					<div  class="pubLogo">
						<img style="height:50px" src="https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autoproyecto.png"/>
					</div>

				</div>
			</div>
		</footer>
		<footer class="bg-secondary bottomestFooter text-center">
				<span class="copyrightText">Copyright © 2001 – 2019 Jumpstart Automotive Media. All rights reserved.</span>
		</footer>
	</body>
</html>
