		<footer class="bg-dark bottomFooter justify-content-center">
			<div class="container">
				<br />
				<h3 class="ourPubText">Our Publishers</h3>
				<div class="row">
					<div  class="pubLogo col-md-2 col-sm-6 col-xs-12">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>
					<div  class="pubLogo col-md-2 col-sm-6">
						<img style="height:25px" src="https://i.imgur.com/T9vXqkt.png"/>
					</div>

				</div>
			</div>
		</footer>
		<footer class="bg-secondary bottomestFooter text-center">
				<span class="copyrightText">Copyright ©</span>
		</footer>
	</body>
</html>
