<html>
	<head>
		<title>Pub Demo Clone</title>
		<script
			  src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
			  integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
			  crossorigin="anonymous">
		</script>
		<script src="/jquery.ba-throttle-debounce.js"></script>
		<script src="/proximityEvent.js"></script>
		<script src="/dynamicAd.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<script src="/gptImp.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Nav Menu -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Hearst Autos</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="https://pubguide.jumpstartauto.net/">PUB GUIDE<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="CustomUnitsnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						CUSTOM UNITS
					</a>
					<div class="dropdown-menu" aria-labelledby="CustomUnitsnavbarDropdown">
						<a class="dropdown-item" href="#">Custom</a>
						<a class="dropdown-item" href="#">Custom</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="AdFlownavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						AD FLOWS
					</a>
					<div class="dropdown-menu" aria-labelledby="AdFlownavbarDropdown">
						<a class="dropdown-item" href="#">Ad Flows</a>
						<a class="dropdown-item" href="#">AD Flows</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="AdProductnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						AD PRODUCT STRATEGIES
					</a>
					<div class="dropdown-menu" aria-labelledby="AdProductnavbarDropdown">
						<a class="dropdown-item" href="#">Product</a>
						<a class="dropdown-item" href="#">Product</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
