<% include ./partials/header %>
		<script src="/deviceDetect.js"></script>
		<title>category</title>
		<meta name="sitesection" content="category"/>
	</head>
	<body>
		<div class="mobAdhesionTray mobSticky d-block d-sm-block d-none">
			<div id="div-gpt-mob-ad-3" class="d-flex justify-content-center d-none d-sm-block d-md-none mobSticky">

			</div>
		</div>
		<div id="mainblock" class="container">
			<div id="div-gpt-mob-ad-1" class="d-flex justify-content-center catMobTier1 d-none d-sm-block d-md-none">

			</div>
				<div class="d-flex justify-content-center d-sm-none d-md-block" id="jam_728x90">
					<div id="div-gpt-ad-1" class="cat728x90">
					</div>
				</div>
			<div class="row">
				<div id="content1-left" class="col-md-8">
					<h1>Ad Flow - No Native #1</h1>
					<div class="panel panel-default">
						<div class="panel-body">Made up of the template for the Body style landing page which allows for implementation of Native Unit: Hero Unit in addition to standard ad flow. This will also be the page used as the click through landing page for the unsponsored icons and sponsored jelly beans used within the suggestive selling category menu on Awareness #1 Ad Flows..</div>
					</div>
					<h2 id="researchV">Research Vehicles</h2>
					<div class="browseCars">
						<hr />
					</div>
					<div class="d-flex justify-content-center  d-none d-sm-block d-md-none" id="div-gpt-mob-ad-2">

					</div>
					<hr class="divyBar"/>
					<div class="featured-articles">
						<h3>Featured Articles</h3>
						<p>
							Bacon ipsum dolor amet shank
						</p>
					</div>
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
					<div class="content-bottom">
						<div class="row">
								<div class="col-md-6 col-sm-12">
									<img class="articleImg" src="https://i.imgur.com/hJrgATi.gif" />
								</div>
								<div class="col-md-6 col-sm-12 featuredArticleContent">
									<h5>picanha brisket jerky</h5>
									<p>
										Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
									</p>
									<button type="button" class="btn btn-outline-primary">Read More</button>
								</div>
						</div>
					</div>
					<hr />
				</div>
				<div id="content1-right-cat" class="col-md-4 col-sm-5">
					<div class="d-flex justify-content-center d-sm-none d-md-block" id="jam_300x250">
						<div id="div-gpt-ad-2">
						</div>
					</div>
					<div class="d-flex justify-content-center d-sm-none d-md-block" id="jam_300x120">
						<div id="div-gpt-ad-3">
						</div>
					</div>

					<div class="browseCarsCat">
						<p class="makModText h3">By Make and Model</p>
						<div class="makModForm">
							<div class="dropdown dropdownmakCat">
							    <button class="btn btn-white btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							        Make
							    </button>
							    <div class="dropdown-menu dropdownmenuCat" aria-labelledby="dropdownMenuButton">
							        <a class="dropdown-item" href="/modelpage">Acura</a>
							        <a class="dropdown-item" href="/modelpage">Audi</a>
							        <a class="dropdown-item" href="/modelpage">Honda</a>
							    </div>
							</div>
							<div class="dropdown dropdownmodCat">
							    <button class="btn btn-white btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							        Model
							    </button>
							    <div class="dropdown-menu dropdownmenuCat" aria-labelledby="dropdownMenuButton">
							        <a class="dropdown-item" href="/modelpage">Model1</a>
							        <a class="dropdown-item" href="/modelpage">Model2</a>
							        <a class="dropdown-item" href="/modelpage">Model3</a>
							    </div>
							</div>
						</div>
							<button type="button" class="btn btn-white btn-outline-secondary browseBtnCat"><span>Browse</span></button>
							<div class="bodystyleGrid">
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/cun0lag.png" class="figure-img img-fluid rounded gridSedan"></a>
									<figcaption class="figure-caption text-center">SUV</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/94ph34X.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">SEDAN</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/nFhT0PY.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">COUPE</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/jNGpJ3K.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">CONVERTIBLE</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/FzFqg5h.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">CUV</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/L5ggrg1.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">WAGON</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/eKxpITK.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">VAN</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/AZbseG9.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">TRUCK</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/g9hckMg.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">DIESEL</figcaption>
									</figure>
								</div>
								<div  class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/yjtjaEi.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">HYBRID</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/BMYg7UA.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">HATCHBACK</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/kxO0bID.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">SPORTS CAR</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/n38H6x2.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">LUXURY</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/41YbyJB.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">USED</figcaption>
									</figure>
								</div>
								<div class="bodyIcons">
									<figure class="figure">
									<a href="/categorylanding"><img src="https://i.imgur.com/7m3TTSK.png" class="figure-img img-fluid rounded"></a>
									<figcaption class="figure-caption text-center">CPO</figcaption>
									</figure>
								</div>
							</div>
							<hr />
					</div>

				</div>

			</div>

		</div>
<% include ./partials/footer %>
