<% include ./partials/header %>

<div class="container dashCards">
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 1</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/1234/getDetail" class="card-link">View Dashboard</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 2</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/5678/getDetail" class="card-link">View Dashboard</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 3</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/9101112/getDetail" class="card-link">View Dashboard</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
		</div>
	</div>
	<div class="row dashCards">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 4</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/DFPDart/getDetail" class="card-link">View Dashboard</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 2</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/5647/getDetail" class="card-link">View Dashboard</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 3</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/8910/getDetail" class="card-link">View Dashboard</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>
