<% include ./partials/header %>
<% var ejsTable = []; %>
<span><script>
	var x= <%- JSON.stringify(content) %>;
	console.log(x[0].length);
	var buildTable = [];
	for(var i=0;i<x.length;i++){
		if(i==0){
			buildTable["headers"] = x[i];
		}
		else{
			buildTable["row"+i] = x[i];
		}
	}
	console.log(buildTable["headers"][0]);
	ejsTable = buildTable;
</script>
</span>

<%- content2 %>
<% include ./partials/footer %>
