<% include ./partials/header %>

<div class="container dashCards">
	<div class="row">
		<div class="col-md-4 col-sm-12 d-flex justify-content-center dashCardInner">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Raw Data w/ Filtering</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/1234/getDetail" class="card-link">View Dashboard</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 d-flex justify-content-center dashCardInner">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">DFP Dart Report</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/DFPDart/getDetail" class="card-link">View Dashboard</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 d-flex justify-content-center dashCardInner">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">DFP Inventory Tuner</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="/DFPInvTuner/getDetail" class="card-link">View Dashboard</a>
			  </div>
			</div>
		</div>
	</div>
	<div class="row dashCards">
		<div class="col-md-4 col-sm-12 d-flex justify-content-center">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 4</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="#" class="card-link">View Dashboard</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 d-flex justify-content-center dashCardInner">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 5</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="#" class="card-link">View Dashboard</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 d-flex justify-content-center dashCardInner">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Report 6</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Bacon ipsum</h6>
			    <p class="card-text">Meatloaf rump filet mignon picanha short loin drumstick pig tail. Filet mignon short loin </p>
			    <a href="#" class="card-link">View Dashboard</a>
			  </div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>
