<% include ./partials/header %>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable #row1").filter(function() {
			$("tr").toggle($("tr").text().toLowerCase().indexOf(value) > -1)
		});
	});
});
</script>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<table class="table" id="myTable">
    <tbody>
        <%for(var i in content2){%>
	        <tr>
	            <%for(var x=0;x<10;x++){%>
		            <% if(i=="headers"){%>
		            	<th scope="col"><%=content2[i][x]%></th>
		            <% }else{%>
		            	<td  id="<%=i%>"> <%= content2[i][x] %> </td>
		            <%  } %>
	            <%}%>
			</tr>
		<%}%>
    </tbody>
</table>

<% include ./partials/footer %>
