<% include ./partials/header %>
	<script src="/swiperSlide.js"></script>
	<script src="/deviceDetect.js"></script>
	<script>
		var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		var height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
		var mainObj = {
			isMobile: false,
			device: "desktop",
			jamData: {
				"sitename": "pubdemo.jumpstartauto.net",
				"site": "jam.pubdemo.home.dfp",
				"adunit": "",
				"prod": "homepage",
				"subprod": "",
				"yr": "2019",
				"mak": "",
				"mod": "",
				"type": "",
				"style": "",
				"fuel": "",
				"pub": "jumpstart",
				"pubtemplate": "homepage",
				"test": "jumpstart",
				"content": ""
			}
		};
		if(width <= 414){
			mainObj.isMobile = true;
			mainObj.jamData["site"] = "jam.pubdemo.home.mob";
		}
		if(mainObj.isMobile){
			console.log("Mobile");
			googletag.cmd.push(function() {
				googletag.defineSlot("/36117602/jam.pubdemo.home.mob",[[320,50],[300,250],[300,300]], "div-gpt-mob-ad-1")
						.addService(googletag.pubads())
						.setTargeting("prod",mainObj.jamData.prod)
						.setTargeting("test",mainObj.jamData.test)
						.setTargeting("yr",mainObj.jamData.yr);
				googletag.defineSlot("/36117602/jam.pubdemo.home.mob",[[320,50],[300,250],[300,300],[320,51],[300,251],[300,301]], "div-gpt-mob-ad-2")
						.addService(googletag.pubads())
						.setTargeting("prod",mainObj.jamData.prod)
						.setTargeting("test",mainObj.jamData.test)
						.setTargeting("yr",mainObj.jamData.yr);
				googletag.pubads().enableSingleRequest();
				googletag.enableServices();
				googletag.cmd.push(function() {
					googletag.display("div-gpt-mob-ad-1");
				});
				googletag.cmd.push(function() {
					googletag.display("div-gpt-mob-ad-2");
				});
			});
		}
		else{
			console.log("Desktop");
			googletag.cmd.push(function() {
				googletag.defineSlot("/36117602/jam.pubdemo.home.dfp",[[728,90],[970,250],[970,90]], "div-gpt-ad-1")
						.addService(googletag.pubads())
						.setTargeting("prod",mainObj.jamData.prod)
						.setTargeting("test",mainObj.jamData.test)
						.setTargeting("yr",mainObj.jamData.yr);
				googletag.defineSlot("/36117602/jam.pubdemo.home.dfp",[300,250], "div-gpt-ad-2")
						.addService(googletag.pubads())
						.setTargeting("prod",mainObj.jamData.prod)
						.setTargeting("test",mainObj.jamData.test)
						.setTargeting("yr",mainObj.jamData.yr);
				googletag.defineSlot("/36117602/jam.pubdemo.home.dfp",[300,120], "div-gpt-ad-3")
						.addService(googletag.pubads())
						.setTargeting("prod",mainObj.jamData.prod)
						.setTargeting("test",mainObj.jamData.test)
						.setTargeting("yr",mainObj.jamData.yr);
				googletag.pubads().enableSingleRequest();
				googletag.enableServices();
				googletag.cmd.push(function() {
					googletag.display("div-gpt-ad-1");
				});
				googletag.cmd.push(function() {
					googletag.display("div-gpt-ad-2");
				});
				googletag.cmd.push(function() {
					googletag.display("div-gpt-ad-3");
				});
			});
		}
	</script>
<!-- extending head container because of GPT -->
</head>

<body>
	<div class="feature-container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_car_and_driver.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_road_and_track.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_nadaguides.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autobytel.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_carbuzz.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autoweek.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_autolist.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_usnews.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_jdpower.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_vehicle_history.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_left_lane_news.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_carstory.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_iseecars.png)"></div>
						<div class="swiper-slide swiper-slide-settings" style="background-image:url(https://pubdemo.jumpstartauto.net/images/publisher_logos/white/publisher_carpages.png)"></div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="d-flex justify-content-center .d-sm-none .d-md-block" id="jam_728x90">
			<div id="div-gpt-ad-1">
			</div>
		</div>
	</div>
	<div id="mainblock" class="container">
		<div id="div-gpt-mob-ad-1" class="d-flex justify-content-center">

		</div>

		<div class="row">
			<div id="content1-left" class="col-md-8 col-sm-7">
				<h1>Ad Flow - Awareness #1</h1>
				<div class="panel panel-default">
					<div class="panel-body">Made up of the Homepage and Navigational Landing Pages. Homepage is the entry point into the site. Navigational Landing Pages are any landing page where featuring editorial content that is not specific to a make, model, or body style. Includes the Suggestive Selling Menu and Xcelerate in addition to standard ad flow.</div>
				</div>
				<h2 id="researchV">Research Vehicles</h2>
				<div class="browseCars">
					<p>By Make and Model</p>
					<div class="makModForm form-check-inline">
						<div class="dropdown dropdownmak col-md-5">
						    <button class="btn btn-light btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        Make
						    </button>
						    <div class="dropdown-menu dropdownmenu" aria-labelledby="dropdownMenuButton">
						        <a class="dropdown-item" href="#">Acura</a>
						        <a class="dropdown-item" href="#">Audi</a>
						        <a class="dropdown-item" href="#">Honda</a>
						    </div>
						</div>
						<div class="dropdown dropdownmod col-md-5">
						    <button class="btn btn-light btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        Model
						    </button>
						    <div class="dropdown-menu dropdownmenu" aria-labelledby="dropdownMenuButton">
						        <a class="dropdown-item" href="#">Model1</a>
						        <a class="dropdown-item" href="#">Model2</a>
						        <a class="dropdown-item" href="#">Model3</a>
						    </div>
						</div>
						<button type="button" class="btn btn-dark col-md-2 btn-outline-secondary browseBtn"><span id="browseBtn">Browse</span></button>
					</div>
						<div class="row bodystyleGrid">
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/cun0lag.png" class="figure-img img-fluid rounded gridSedan">
								<figcaption class="figure-caption text-center">SUV</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/94ph34X.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">SEDAN</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/nFhT0PY.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">COUPE</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/jNGpJ3K.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">CONVERTIBLE</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/FzFqg5h.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">CUV</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/L5ggrg1.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">WAGON</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/eKxpITK.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">VAN</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/AZbseG9.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">TRUCK</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/g9hckMg.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">DIESEL</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/yjtjaEi.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">HYBRID</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/BMYg7UA.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">HATCHBACK</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/kxO0bID.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">SPORTS CAR</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/n38H6x2.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">LUXURY</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/41YbyJB.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">USED</figcaption>
								</figure>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<figure class="figure">
								<img src="https://i.imgur.com/7m3TTSK.png" class="figure-img img-fluid rounded">
								<figcaption class="figure-caption text-center">CPO</figcaption>
								</figure>
							</div>
						</div>
						<hr />
				</div>
				<div class="d-flex justify-content-center" id="div-gpt-mob-ad-2">

				</div>
				<div class="featured-articles">
						<h3>Featured Articles</h3>
						<p>
							Bacon ipsum dolor amet shank
						</p>
				</div>
				<div class="content-bottom">
					<div class="row">
							<div class="col-6">
								<img src="https://i.imgur.com/hJrgATi.gif" />
							</div>
							<div class="col-6 featuredArticleContent">
								<h5>picanha brisket jerky</h5>
								<p>
									Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
								</p>
								<button type="button" class="btn btn-outline-primary">Read More</button>
							</div>
					</div>
				</div>
				<hr />
				<div class="content-bottom">
					<div class="row">
							<div class="col-6">
								<img src="https://i.imgur.com/hJrgATi.gif" />
							</div>
							<div class="col-6 featuredArticleContent">
								<h5>picanha brisket jerky</h5>
								<p>
									Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
								</p>
								<button type="button" class="btn btn-outline-primary">Read More</button>
							</div>
					</div>
				</div>
				<hr />
				<div class="content-bottom">
					<div class="row">
							<div class="col-6">
								<img src="https://i.imgur.com/hJrgATi.gif" />
							</div>
							<div class="col-6 featuredArticleContent">
								<h5>picanha brisket jerky</h5>
								<p>
									Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
								</p>
								<button type="button" class="btn btn-outline-primary">Read More</button>
							</div>
					</div>
				</div>
				<hr />
				<div class="content-bottom">
					<div class="row">
							<div class="col-6">
								<img src="https://i.imgur.com/hJrgATi.gif" />
							</div>
							<div class="col-6 featuredArticleContent">
								<h5>picanha brisket jerky</h5>
								<p>
									Pig cow venison, ground round alcatra tri-tip ribeye ball tip.
								</p>
								<button type="button" class="btn btn-outline-primary">Read More</button>
							</div>
					</div>
				</div>
				<hr />
			</div>
			<div id="content1-right" class="col-md-4 col-sm-5">
				<div class="d-flex justify-content-center" id="jam_300x250">
					<div id="div-gpt-ad-2">
					</div>
				</div>
				<div class="d-flex justify-content-center" id="jam_300x120">
					<div id="div-gpt-ad-3">
					</div>
				</div>
			</div>

		</div>

	</div>

<% include ./partials/footer %>
