<% include ./partials/header %>
		<script src="/deviceDetect.js"></script>
		<title>category</title>
		<meta name="sitesection" content="model"/>
	</head>
	<body>
		<div class="mobAdhesionTray mobSticky d-sm-none">
			<div id="div-gpt-mob-ad-3" class="d-flex justify-content-center d-none d-sm-block d-md-none mobSticky">

			</div>
		</div>

			<div class="d-none d-flex justify-content-center d-none d-md-block" id="jam_728x90">
				<div id="div-gpt-ad-1" class="ad728x90">
				</div>
			</div>

		<div id="mainblock" class="container">
			<div id="div-gpt-mob-ad-1" class="d-flex justify-content-center catMobTier1  d-none d-sm-block d-md-none">

			</div>
			<div class="row">
				<div id="content1-left" class="col-md-8">
					<h1>Ad Flow - Native #1</h1>
					<div class="panel panel-default">
						<div class="panel-body">Made up of templates that house model specific content which allows for implementation of Native Units: BrandPOV and Sponsored Consideration in addition to standard ad flow..</div>
					</div>
					<div class="ratingbox">
						<span class="dotRated"></span>
						<span class="dotRated"></span>
						<span class="dotRated"></span>
						<span class="dotRated"></span>
						<span class="dotNotRated"></span>
					</div>
					<div>
						<img class="carModelImg" src="https://pubdemo.jumpstartauto.net/images/layout/icon_suv_1354x554.png"/>
					</div>
					<div>
						<p>
							Bacon ipsum dolor amet doner swine kevin leberkas flank alcatra. Kevin ground round cupim hamburger, sirloin shank porchetta. Picanha t-bone pork loin short loin tenderloin, kielbasa salami filet mignon fatback frankfurter tail turducken jowl. Beef ribs doner ham hock t-bone, pancetta picanha shankle.
						</p>
					</div>
					<hr />
					<div class="priceOfCar">
						<h6>Bacon Ipsum</h6>
						<h3><strong>$XX,XXXX</strong></h3>
					</div>
					<div class="d-flex justify-content-center d-sm-none d-md-block" id="jam_728x90">
						<div id="div-gpt-ad-4">
						</div>
					</div>
					<hr />
					<h4>Bacon Ipsum Dolor Amet Doner</h4>
					<p>
						Bacon ipsum dolor amet doner swine kevin leberkas flank alcatra. Kevin ground round cupim hamburger, sirloin shank porchetta. Picanha t-bone pork loin short loin tenderloin, kielbasa salami filet mignon fatback frankfurter tail turducken jowl. Beef ribs doner ham hock t-bone, pancetta picanha shankle.
					</p>
					<p>
						Bacon tail boudin shankle. Bacon porchetta meatball beef ribs chuck, shankle tenderloin pork chop. Kevin short ribs boudin biltong buffalo jerky ground round. Cow shoulder brisket buffalo pork loin porchetta biltong tongue drumstick shank turkey filet mignon tri-tip swine. Jerky chicken andouille fatback ham hock shank cow turkey prosciutto filet mignon brisket spare ribs. Cupim hamburger capicola shank alcatra.
					</p>
					<div class="d-flex justify-content-center .d-none .d-sm-block .d-md-none" id="jam_300x250">
						<div id="div-gpt-mob-ad-2">
						</div>
					</div>
					<div class="considerOther">
						<h4 class="marg20bot d-flex justify-content-center">You Might Consider These</h4>
						<div class="row d-flex justify-content-center">
							<div class="card col-md-3 col-sm-6 borderless cardSize">
							    <a href="/modelpage"><img class="card-img-top" src="https://pubdemo.jumpstartauto.net/images/layout/icon_consider_130x95.png" alt="Card image cap">
							    <div class="card-body centerThat">
									<span class="card-text considerTextHeader"><strong>Bacon Ipsum</strong></span><br />
									<span class="card-text considerText">Bacon Ipsum</span><br />
									<span class="card-text considerText">Bacon Ipsum</span>
							    </div></a>
							</div>
							<div class="card col-md-3 col-sm-6 borderless cardSize">
							    <a href="/modelpage"><img class="card-img-top" src="https://pubdemo.jumpstartauto.net/images/layout/icon_consider_130x95.png" alt="Card image cap">
							    <div class="card-body centerThat">
									<span class="card-text considerTextHeader"><strong>Bacon Ipsum</strong></span><br />
									<span class="card-text considerText">Bacon Ipsum</span><br />
									<span class="card-text considerText">Bacon Ipsum</span>
							    </div></a>
							</div>
							<div class="card col-md-3 col-sm-6 borderless cardSize">
							    <a href="/modelpage"><img class="card-img-top" src="https://pubdemo.jumpstartauto.net/images/layout/icon_consider_130x95.png" alt="Card image cap">
							    <div class="card-body centerThat">
							        <span class="card-text considerTextHeader"><strong>Bacon Ipsum</strong></span><br />
									<span class="card-text considerText">Bacon Ipsum</span><br />
									<span class="card-text considerText">Bacon Ipsum</span>
							    </div></a>
							</div>
							<div class="card col-md-3 col-sm-6 borderless cardSize">
							    <a href="/modelpage"><img class="card-img-top" src="https://pubdemo.jumpstartauto.net/images/layout/icon_consider_130x95.png" alt="Card image cap">
							    <div class="card-body centerThat">
							        <span class="card-text considerTextHeader"><strong>Bacon Ipsum</strong></span><br />
									<span class="card-text considerText">Bacon Ipsum</span><br />
									<span class="card-text considerText">Bacon Ipsum</span>
							    </div></a>
							</div>
						</div>
					</div>
					<h4>Bacon Ipsum</h4>
					<p>
						Bacon ipsum dolor amet doner swine kevin leberkas flank alcatra. Kevin ground round cupim hamburger, sirloin shank porchetta. Picanha t-bone pork loin short loin tenderloin, kielbasa salami filet mignon fatback frankfurter tail turducken jowl. Beef ribs doner ham hock t-bone, pancetta picanha shankle.
					</p>
					<p>
						Bacon tail boudin shankle. Bacon porchetta meatball beef ribs chuck, shankle tenderloin pork chop. Kevin short ribs boudin biltong buffalo jerky ground round. Cow shoulder brisket buffalo pork loin porchetta biltong tongue drumstick shank turkey filet mignon tri-tip swine. Jerky chicken andouille fatback ham hock shank cow turkey prosciutto filet mignon brisket spare ribs. Cupim hamburger capicola shank alcatra.
					</p>
					<p>
						Rump corned beef pig frankfurter pork belly flank, sausage chuck chicken. Shoulder leberkas ribeye t-bone kevin, drumstick bacon burgdoggen ham hock short ribs spare ribs cupim. Rump alcatra sausage pig ribeye. Biltong kevin pork belly, pastrami t-bone sirloin boudin swine pancetta tongue kielbasa capicola fatback brisket porchetta. Beef short loin pork chop biltong cow pastrami meatloaf. Ground round tongue tri-tip leberkas pork chop pancetta t-bone pastrami shank chicken buffalo rump.
					</p>
					<br />
					<br />
					<br />
					<br />
					<p>
						Bacon ipsum dolor amet doner swine kevin leberkas flank alcatra. Kevin ground round cupim hamburger, sirloin shank porchetta. Picanha t-bone pork loin short loin tenderloin, kielbasa salami filet mignon fatback frankfurter tail turducken jowl. Beef ribs doner ham hock t-bone, pancetta picanha shankle.
					</p>
					<p>
						Bacon tail boudin shankle. Bacon porchetta meatball beef ribs chuck, shankle tenderloin pork chop. Kevin short ribs boudin biltong buffalo jerky ground round. Cow shoulder brisket buffalo pork loin porchetta biltong tongue drumstick shank turkey filet mignon tri-tip swine. Jerky chicken andouille fatback ham hock shank cow turkey prosciutto filet mignon brisket spare ribs. Cupim hamburger capicola shank alcatra.
					</p>
					<p>
						Rump corned beef pig frankfurter pork belly flank, sausage chuck chicken. Shoulder leberkas ribeye t-bone kevin, drumstick bacon burgdoggen ham hock short ribs spare ribs cupim. Rump alcatra sausage pig ribeye. Biltong kevin pork belly, pastrami t-bone sirloin boudin swine pancetta tongue kielbasa capicola fatback brisket porchetta. Beef short loin pork chop biltong cow pastrami meatloaf. Ground round tongue tri-tip leberkas pork chop pancetta t-bone pastrami shank chicken buffalo rump.
					</p>
				</div>
				<div id="content1-right-cat" class="col-md-4 col-sm-5">
					<div class="d-flex justify-content-center d-sm-none d-md-block" id="jam_300x250">
						<div id="div-gpt-ad-2">
						</div>
					</div>
					<div class="d-flex justify-content-center d-sm-none d-md-block" id="jam_300x120">
						<div id="div-gpt-ad-3">
						</div>
					</div>
				</div>

			</div>

		</div>
<% include ./partials/footer %>
