.jumbotron{
	min-height: 285px;
}
html, body {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
}
.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.swiper-slide {
	background-position: center;
	background-size: 100% 100%;
	background-color: black;
	width: 457px;
	height: 168px;
}

.swiper-wrapper{
	height: 205px;
}

#jam_728x90{
	margin-top: 40px;
	margin-bottom: 50px;
}

#jam_300x250{
	margin-bottom: 50px;
}

.makModForm{
	width: 100%;
}

.dropdown-toggle{
	width: 100%;
}

#browseBtn{
	color: #FFFFFF
}
/* .browseBtnHome{
	text-align: center;
} */
.bodystyleGrid{
	margin-top: 25px;
}

.dropdownmenu{
	width: 90%;
}

.bottomFooter{
	margin-top: 75px;
}

.featuredArticleContent{
	margin-left: 0px;
}

.pubLogo{
	max-width: 100px;
	display: inline-block;
	margin-right: 50px;
	width: 100px;
	text-align: center !important;
	box-sizing: content-box;
	padding: 15px 2.2%;
}
.fixed-top{
	position: fixed;
	top:0;
	right:0;
	left:0;
	z-index: 1392;
}
.ourPubText{
	margin-bottom: 25px;
	margin-top: 25px;
	color: #FFFFFF;
}

.bottomestFooter{
	color: #FFFFFF;
}

.bodyIcons{
	display: inline-block;
	margin: 0;
	width: 110px;
	text-align: center !important;
	box-sizing: content-box;
	padding: 15px 2.2%;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.divyBar{
	display: none;
}
.articleImg{
	width: 100%;
}

.browseBtnCat{
	width:100%;
	margin-top: 10px;
}
/* .ad728x90{
	margin-top: 50px;
} */
.makModText{
	margin-top: 10px;
	text-align: center;
}
.dropdownmakCat{
	margin-bottom: 10px;
}
#content1-right-cat{
	text-align: center;
}
.dropdownmenuCat{
	width: 100%;
}
#researchV{
	margin-top: 15px;
}
.dotRated {
  height: 15px;
  width: 15px;
  background-color: #383838;
  border-radius: 50%;
  display: inline-block;
}
.dotNotRated {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.ratingbox{
	margin-top: 10px;
}
.carModelImg{
	max-width: 677px;
}
.considerText{
	font-size: 12px;
}
.centerThat{
	text-align: center;
}
.borderless{
	border: 0;
}
.considerOther{
	margin-top: 40px;
	margin-bottom: 40px;
}
.a{
	color: #000 !important;
}
.marg15bot{
	margin-bottom: 20px !important;
}
.mobSticky{
	position: fixed;
	bottom: 0;
	z-index: 10000000;
	margin: 0 auto;
	width: 100%;
}
.mobAdhesionTray{
	background-color: #343a40;
	height: 80px;
	width: 100%;
}
.dashCards{
	margin-top: 50px;
}

#mainTable{
	margin-top: 66px;
}
#mainTable td{
	border: 1px solid black;
	padding: .3em !important;
}

.grayThat{
	border: 1px solid black;
	background: gray;
	color: white;
	font-weight: bold;
	text-align: center;
}
.orangeThat{
	border: 1px solid black;
	background: orange;
	color: white;
	font-weight: bold;
	text-align: center;
}
.tealThat{
	background: #ceffff;
	font-weight: bold;
}
.tealThatHeader{
	background: #ceffff;
	font-weight: bold;
	text-align: center;
}
.lightGrayThat{
	background: #f9f9f9;
}
.unborderThat{
	border: 0px solid transparent !important;
}
.borderTop{
	border: 1px solid black !important;
}
.boldThat{
	font-weight: bold;
}
.floatingFilter{
	position: fixed;
	bottom: 0;
	z-index: 10000000;
	opacity: 0.7;
	text-align: center;
	height: 40px;
	width: 100%;
}
.filterBot{
	width:300px;
	display: inline;
	text-align: center;
}
#mainTable tr:hover {
	background-color: #f9f9f9;
}
#mainBlock{
	margin-top: 106px;
}
.dashCards{
	margin-top: 131px;
}

.filterTop{
	width: 400px;
	text-align: center;
}
.filterTopContainer{
	width: 60%;
	display:none;
}
@media only screen and (max-width: 375px) {
	.pubLogo{
		max-width: 91px;
	}
}
@media only screen and (max-width: 414px) {
	.swiper-slide-settings {
	    background-size: 50% 50%;
	    background-repeat: no-repeat;
	}

	.makModForm {
	    display: block;
	}

	.dropdownmak {
	    margin-bottom: 15px;
	}

	.dropdownmod {
	    margin-bottom: 15px;
	}
	.browseBtnHomeMain{
		text-align: center;
	}
	.browseBtnHome{
		width:92%;
	}
	#researchV {
	    margin-top: 15px;
	}

	#content1-left {
	    margin-top: 50px;
	}

	.jumbotron {
	    margin-bottom: 0px;
	}

	#div-gpt-mob-ad-2 {
	    margin-top: 50px;
	    margin-bottom: 50px;
	}
	.featuredArticleContent {
	    margin-top: 15px;
	}
 	.browseBtnHomeLanding{
		width: 130%
	}
	.pubLogo {
		margin-left: 15px;
	}
	.copyrightText{
		font-size: 12px;
	}
	.bodystyleGrid{
		margin-top: 25px;
		width: 100%;
		text-align: center;
	}
	.divyBar{
		display:block;
	}
	.navbar{
		margin-bottom: 0px;
	}
	.catMobTier1{
		margin-top: 70px;
	}
	.catMobTier12{
		margin-top: 50px;
	}
	.carModelImg{
		max-width: 338.5px;
	}
	.cardSize{
		width:40%;
	}
	.considerTextHeader{
		font-size: 14px;
	}
	#jam_728x90{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.bottomFooter{
		height: 720px;
	}
	.dashCardInner{
		margin-top: 35px;
	}
	#mainBlock{
		margin-top: 36px;
	}
}
